<div class="container">

    <div *ngIf="successmsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <form [formGroup]="userForm" (ngSubmit)="userSubmit()">
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="name" placeholder="Username...">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Email...">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="date" data-date="" formControlName="dob" data-date-format="DD MMMM YYYY">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="city" placeholder="City...">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="pin" placeholder="Pin...">
        </div>

        <div class="col-lg-4 mt-2">
                <button class="btn btn-primary btn-sm">Post</button>
        </div>
    </form>


</div>
